<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Chat App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+IE:wght@100..400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/cropperjs@1.6.2/dist/cropper.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="container">
        <div class="friends-section">
            <div class="nav">
                <p>Friends</p>
                <button class="notifi-btn">
                    <i class="fa-solid fa-bell"></i>
                </button>
                <button class="find-people-btn">Find People</button>
            </div>
            <div class="card-container">
                <% if(friendsArray.length==0) { %>
                    <p class="placeholder-text">You don't have
                        any friend try `find people`</p>
                    <% } %>
                <% for(let friend of friendsArray) { %>
                    <div id="<%= friend._id %>" class="card">
                        <div class="img-box">
                            <img src="<%= friend.imageUrl %>" alt="profile-img">
                            <i class="fa-solid fa-circle"></i>
                        </div>
                        <p class="name">
                            <%= friend.fullName %>
                        </p>
                    </div>
                <% } %>
            </div>
            <button class="show-profile-btn"><i class="fa-solid fa-address-card"></i></button>

            <div class="people-search-bar">
                <form>
                    <input type="text" name="name" placeholder="Enter Full Name...">
                    <button class="search-btn">Search</button>
                    <button class="find-people-cross-btn">
                        <i class="fa-regular fa-circle-xmark"></i>
                    </button>
                </form>
                <div class="user-container">
                    <div class="not-found">
                        <p>User not found!</p>
                    </div>
                </div>
            </div>
            <div class="notification-bar">
                <div class="notification-nav">
                    <p>Notifications</p>
                    <button class="notification-cross-btn">
                        <i class="fa-regular fa-circle-xmark"></i>
                    </button>
                </div>

                <div class="notification-container">

                </div>
            </div>

        </div>

        <div class="chat-section">
            <div class="chat-wrapper">
                <div class="nav">
                    <div class="nav-card">
                        <button class="go-back-to-friends-btn"><i class="fa-solid fa-arrow-left"></i></button>
                        <img>
                        <p></p>
                        <button class="profile-open-btn1 profile-open-btn"><i class="fa-solid fa-bars"></i></button>
                    </div>
                </div>
                <div class="chat-container">

                </div>
                <form class="form" action="">
                    <input class="input" placeholder="Send some message..." autocomplete="off" type="text">
                    <button><i class="fa-solid fa-paper-plane"></i></button>
                </form>
            </div>
            <div class="temp-nav">
                <button class="profile-open-btn2 profile-open-btn"><i class="fa-solid fa-bars"></i></button>
            </div>
            <p class="no-chat">No chat selected!</p>
        </div>
        <div class="profile-section">
            <div class="nav">
                <div class="cross-btn-div">
                    <button class="go-back-to-chats"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div>
                    <button class="go-back-to-friends-btn"><i class="fa-solid fa-arrow-left"></i></button>
                    <p>Profile</p>
                </div>

                <div class="btn-container">
                    <a href="/logout">Logout</a>
                </div>
            </div>
            <div class="profile-card">
                <img src="<%= currUserDoc.imageUrl %>" id="profile-img" alt="profile-img">
                <form method="post" action="/chats" enctype="multipart/form-data">
                    <label for="image">Upload Image</label>
                    <input id="image" type="file" accept="image/*" name="image" hidden>
                </form>
                <p>
                    <%= currUserDoc.fullName %>
                </p>
            </div>

        </div>
    </div>
    <div class="image-editor-div">
        <img id="preview">
        <button class="done-crop">Done
            <i class="fas fa-circle-notch fa-pulse"></i>
        </button>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/cropperjs@1.6.2/dist/cropper.js"></script>
    <script>
        const currUserId = "<%= currUserDoc._id %>";
    </script>
    <script src="/js/app.js"></script>
</body>

</html>
